.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.selectedFile{
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}

.input{
  display: none;
}

.results{
  margin-top: 3rem;
}