.container{
    margin-top: 5rem;
}
.toolContainer h2{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}
.table{
    max-width: 70%;
    margin: auto;
    margin-top: 4rem;
}